@{
    ViewBag.Title = "Dashboard";
}
<h3 style="color:orange">Login Success..</h3>
@if (Session["username"] != null)
{
    <h3>Welcome <b>@Session["username"]</b> </h3>
}

<hr />
<h2>Dashboard</h2>

<a class="btn btn-success" href="/Students/PopulateTable" target="_blank">All Students</a>
<a class="btn btn-info" href="/Students/Create">Add Student</a>
<a class="btn btn-danger" href="/Department/Index" target="_blank">All Departments</a>
<a class="btn btn-default" href="/Department/Create">Add Department</a>