<div class="container-fluid">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Add Orders</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<ol class="breadcrumb">
				<li><a href="#">Dashboard</a></li>
				<li class="active">Add Orders</li>
			</ol>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /row -->

	<div class="center pull-right app-search hidden-sm hidden-xs m-r-10">
		<input type="text" placeholder="Search..." class="form-control" />
		<a href="">
			<i class="fa fa-search"></i>
		</a>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Category</th>
								<th>Price</th>
								<th>Status</th>
								<th>Description</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat=" p in products">
								<td>{{$index}}</td>
								<td>{{p.Name}}</td>
								<td>{{p.CategoryName | uppercase}}</td>
								<td>{{p.Price | currency}}</td>
								<td class="productStatus-{{p.Status}}">{{p.Status==1 ? 'In Stoke' : 'Out of Stoke'}}</td>
								<td><p style="font-size: 12px;">{{p.Description}}</p></td>
								<td>
										<input type="number">
										<a  href="#!productdetails/{{p.Id}}" class="btn btn-primary">Details</a>
										<a  href="#!productdetails/{{p.Id}}" class="btn btn-success">Order Now</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->

<script type="text/javascript"></script>
