<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Edit Category </span></h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Edit Category</li>
            </ol>
        </div>
    </div>
<div class="col-md-8 col-xs-12">
    <div class="white-box">
        <form class="form-horizontal form-material">
            <div class="form-group">
                <label class="col-md-12">Name</label>
                <div class="col-md-12">
                    <input ng-model="category.Name" type="text" placeholder="Grocery" 
                        class="form-control form-control-line" required> </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" ng-click="editcategory()" class="btn btn-success" value="Update">
                </div>
            </div>
            
        </form>
    </div>
</div>
        
    </div>
    <!-- /.container-fluid -->