


<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Orders</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Orders</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="center pull-left">
        <a href="#!addproduct" class="btn btn-danger btn-block waves-effect waves-light">Add Orders</a>
        <br><br><br>
    </div>
    <div class="center pull-right app-search hidden-sm hidden-xs m-r-10">
        <input type="text" placeholder="Search..." class="form-control"> 
        <a href="">
            <i class="fa fa-search"></i>
        </a> 
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Orderer</th>
                                <th>Order Date</th>
                                <th>Order Time</th>
                                <th>Status</th>
                                <th>Items</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr ng-repeat="ord in orders" >
                                <td>{{$index}}</td>
                                <td>{{ord.UserId}}</td>
                                <td>{{ord.OrderDate}}</td>
                                <td>{{ord.OrderTime}}</td>
                                <td>{{ord.OrderStatusName}}</td>
                                <td>{{ord.OrderDetails.length}}</td>
                                <td>{{total}}</td>
                                <td><a href="" class="btn btn-success">Edit</a></td>			
                                <td ><a href="#!orderdetail/{{ord.Id}}" class="btn btn-success">View</a></td>			
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
    <!-- /.container-fluid -->