@model List<LabCRUDTask.Models.Department>
@{
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="card-header">
        <h1>Department Table</h1>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td class="btn bg-success"> <a href="@*/Students/Edit/@item.Id*@">Edit</a></td> &nbsp;
                        <td class="btn bg-danger"> <a href="#">Delete</a></td>
                    </tr>
                }

            </tbody>

        </table>
    </div>

</div>







